parser: babel-eslint
extends: airbnb
rules:
    func-names: 0
    semi: [2, never]
    no-unexpected-multiline: 2
    no-shadow: 1
    max-len: [2, 80, 2, {"ignoreUrls": true, "ignorePattern": "^import"}]

    import/no-duplicates: 2
    import/no-commonjs: 2
    import/imports-first: 2
    import/prefer-default-export: 0

    react/display-name: 1
    react/jsx-no-duplicate-props: 2
    react/jsx-filename-extension: [1, { "extensions": [".js"] }]
    react/forbid-prop-types: 0
env:
    mocha: true
    browser: true
